@tailwind base;
@tailwind components;
@tailwind utilities;

.p-datatable .p-column-header-content {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  cursor: pointer;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  padding: 0.5rem 1rem;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
